<a href="https://github.com/Python-Albania"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">Python Albania </span></a>
<a href="https://python-albania.github.io/"><span class="icon-home"></i> Home</a>
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
